html {

}

#board {
    width: 100%;
    height: 100%;
    border: black 2px solid;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.space:nth-child(even) {
    background-color: lightseagreen;
    width: auto;
}